/*Estilos de la lista de pokemon*/

/*la marca que sale a la izquierda de todos los elmentos de la lista*/
.imgLista {
  list-style-image: url('img/pokeListMark.gif');
}

.imgLista:hover .marcador{
	cursor: default;
    transform: rotate(-45deg);
    transition: all 0.3s ease-in-out 0s;
}

.marcador {
	cursor: default;
    transform: rotate(0deg);
    transition: all 0.3s ease-in-out 0s;
}


/*///////////////////////////////////////////////////////////////////////*/
/*///LISTA POKEMON //////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////*/

/*El div con scroll y la fuente*/
.listaPokemon {
	position: absolute;
	visibility: hidden;
	top: 330px;
	left: 350px;
	width: 250px;
	height: 300px;
	margin: 50px auto;
	padding: 20px;
	background: #8945;
	overflow: auto;
	font-family: 'Sniglet';
	font-size: 17px;
	color: white;
	letter-spacing: 2px;
	border-radius: 4px;
}

.listaPokemon hr {
	background: #ff9d00;
	width: 20%;
	height: 5px;
	border: none;
	margin: 20px 0;
	border-radius: 50px;
}

.listaPokemon img.marcador {
	vertical-align: sub;
}

/*personalizar la barra de scroll*/
.listaPokemon::-webkit-scrollbar {
	width: 7px;
}

.listaPokemon::-webkit-scrollbar-thumb {
	background: #D7DF01;
	border-radius: 5px;
}

/* Under */
.under {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px);
  position: relative;
  overflow: hidden;
  margin-bottom: 8px;
  cursor: pointer;
}

.under:before {
  content: "";
  position: absolute;
  left: 0;
  right: 100%;
  bottom: 0;
  background: red;
  height: 2px;
  transition-property: right;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

.under:hover:before, .under:focus:before, .under:active:before {
  right: 0;
}

.name {
	position: absolute;
	top: 270px;
	left: 700px;
	width: 250px;
	height: 300px;
	margin: 50px auto;
	padding: 20px;
	overflow: auto;
	font-family: 'Sniglet';
	font-size: 25px;
	color: white;
	letter-spacing: 2px;
	cursor: context-menu;
}

/*///////////////////////////////////////////////////////////////////////*/
/*///FILTROS/////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////*/

/*Los estilos de los filtros de la lista pokemon*/
.multiselect {
	visibility: hidden;
    width: 400px;
    position:absolute;
    left: 665px;
    top: 460px;
}

.selectBox {
    position: relative;
}

.selectBox select {
    width: 100%;
    background: #8945;
    border: none;
    font-family: 'Arial';
	font-size: 15px;
	color: white;
	letter-spacing: 1px;
    height: 35px;
    padding: 10px;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#checkboxes {
    display: block;
    border: 1px #D7DF01 solid;
    position:absolute;
    width:100%;
    background-color:#8945;
    box-sizing: border-box;
    overflow-y:auto;
    max-height:225px;
}
#checkboxes.hide {display:none;}

	#checkboxes span{
		font-family: 'Arial';
		color: yellow;
		font-size: 20px;
		padding: 10px;
	}

#checkboxes label {
    display: block;
    font-family: 'Arial';
    color:white;
}

#checkboxes label:hover {
    background-color: #1e90ff;
}

#checkboxes::-webkit-scrollbar {
	width: 7px;
}

#checkboxes::-webkit-scrollbar-thumb {
	background: #D7DF01;
	border-radius: 5px;
}

/*///////////////////////////////////////////////////////////////////////*/
/*///BOTON DE ORDEN /////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////*/

.ordenLista {
	visibility: hidden;
	position: absolute;
	left: 665px;
	top: 380px;
}

.ordenLista select {
	color: white;
	font-family: 'Arial';
	padding: 10px;
	background: #8945;
}

.ordenLista.opciones {
	color: white;
	font-family: 'Arial';
	background: #8945;
	padding: 10px;
}